@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4893b3;
  --foreground: #ede2c9;
  --input: #48443e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5DB7DE;
    --foreground: #F1E9DB;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: var(--input);
  background-color: var(--foreground);
}